html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Pixellari', sans-serif;
    color: #5F7A61;
    font-size: 24px;   
    text-shadow: 1.5px 1.5px 2px rgba(32, 32, 32, 0.247);                                
}

button {
    width: 150px;
    height: 50px;
    border:none;
    border:solid 4px #5F7A61;
    border-radius: 3px;
    background: rgba(255, 255, 255,0);
    font-size: 25px;
    font-family: 'Pixellari', sans-serif;;
    color: #5F7A61;
    text-align: center;
    margin-left: 30px;
}

button:hover {
    background:rgb(51, 87, 50);
    opacity: 0.2;
    color:white; 
    transition: 1s ease;
}

h1 {
    margin: 0;
    font-family: 'Pixellari', sans-serif;
    color: #5F7A61;
    font-size: 40px;  
    padding-bottom: 15px;   
    text-shadow: 1.5px 1.5px 2px rgba(32, 32, 32, 0.247);                   
}

header {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    position: relative;
}

.box {
    height: 25px;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-left: 20px;
    z-index: 99 !important
}

.box2 {
    height: 25px;
    width: 50px;
    position: fixed;
    top: 0;
    left: 100px;
    padding-top: 15px;
    padding-left: 20px;
    z-index: 99 !important
}

.box3 {
    height: 25px;
    width: 50px;
    position: fixed;
    top: 0;
    left: 200px;
    padding-top: 15px;
    padding-left: 20px;
    z-index: 99 !important
}

.under {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
    z-index: 80 !important;
    background: #f9ffc1;
    box-shadow: rgba(0, 0, 0, 0.479) 1px 3px 5px;
}

.animated {
    margin: 0;
    font-family: 'Pixellari', sans-serif;
    color: #5F7A61;
    font-size: 15px;     
    text-shadow: 1.5px 1.5px 2px rgba(32, 32, 32, 0.247);   
    text-decoration: none;
}

.animated {
    margin: 0;
    font-family: 'Pixellari', sans-serif;
    color: #5F7A61;
    font-size: 28px;     
    text-shadow: 1.5px 1.5px 2px rgba(32, 32, 32, 0.247);   
    text-decoration: none;
}

.animated:hover {
    color: #5F7A61;
}

.animated::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 2px;
    top: 48px;
    left: 25px;
    background-color: #444941;
    transform: scaleX(0);
    transition: transform 0.43s ease;
}

.animated:hover::before {
    transform: scaleX(1);
}

.noanimation {
    margin: 0;
    font-family: 'Pixellari', sans-serif;
    color: #5F7A61;
    font-size: 24px;   
    text-shadow: 1.5px 1.5px 2px rgba(32, 32, 32, 0.247);    
}

.noanimation {
    margin: 0;
    font-family: 'Pixellari', sans-serif;
    color: #5F7A61;
    font-size: 24px;   
    text-shadow: 1.5px 1.5px 2px rgba(32, 32, 32, 0.247);    
}

.noanimation2 {
    padding-top: 20px;
    padding-bottom: 0px;
    font-family: 'Pixellari', sans-serif;
    color: #5F7A61;
    font-size: 24px;   
    text-shadow: 1.5px 1.5px 2px rgba(32, 32, 32, 0.247);    
}

.grow {
    padding-top: 30px;
    padding-bottom: 5px;
}

.grow img{
    transition: 1s ease;
}

.grow img:hover{
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    transition: 0.5s ease;
    opacity: 0.8;
}

.img1 {
    width: 250px;
    height: 250px;
    padding-right: 40px;
}

.img2 {
    width: 250px;
    height: 250px;
    padding-left: 40px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400;
    padding: 120px 15vw;
    padding-bottom: 185px;
}

.smallsection {
    overflow: hidden;
    position: sticky;
    top: 0;
    min-height: 100;
    background-color: #7fa9da;
    width: 100%;
}

.lightpurple {
    background: #8586d1;
}

.pink {
    background: #d185d1;
}

.lightblue {
    background: #7fa9da;
}

.lightgreen {
    background: #7FC8A9;
}

.lightgrey {
    background: #D5EEBB;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 89px;
    transform: rotateY(180deg);
    padding-bottom: 20px;
}

.wave .shape-fill {
    fill: #D5EEBB;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .wave svg {
        width: calc(126% + 1.3px);
        height: 89px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave svg {
        width: calc(153% + 1.3px);
        height: 76px;
    }
}

.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 89px;
}

.hidden {
    opacity: 0;
}

.wave2 .shape-fill {
    fill: #7FC8A9;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .wave2 svg {
        width: calc(126% + 1.3px);
        height: 89px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave2 svg {
        width: calc(153% + 1.3px);
        height: 76px;
    }
    .body {
        margin: 0;
        font-family: 'Pixellari', sans-serif;
        color: #5F7A61;
        font-size: 16px;   
        text-shadow: 1.5px 1.5px 2px rgba(32, 32, 32, 0.247);  
    }    
    .img1 {
        width: 250px;
        height: 250px;
        padding-bottom: 30px;
        padding-left: 40px
    }  
    .img2 {
        width: 250px;
        height: 250px;
        padding-top: 30px;
    }
}